h1 {
  text-align: center;
}

.members-container {
  display: flex;
  justify-content: space-around;
  height: 400px;
}

.team-container {
  width: 40%;
}

.member-list {
  height: 300px;
  flex-direction: column;
  flex-wrap: wrap;
  display: flex;
  width: 50%;
}

.result-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-top: 60px;
}
.member {
  display: flex;
  width: 100%;
  margin: 4px;
  font-size: 17px;
  font-weight: 600;
}
.result-member{
  width: auto;
}

.remove {
  margin-left: 20px;
  color: red;
  border: 2px solid red;
  border-radius: 50%;
  height: 20px;
  width: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.remove:hover {
  cursor: pointer;
}

.add-input {
  width: 250px;
  height: 30px;
  text-align: center;
  color: black;
  font-size: 17px;
  font-weight: 600;
}

.add-button {
  margin-left: 10px;
  height: 36px;
  width: 50px;
  background-color: green;
  font-size: 20px;
}

.shuffle-btn {
  font-size: 36px;
  color: white;
  background: green;
  width: 200px;
  height: 51px;
  text-align: center;
  border-radius: 10px;
  align-self: center;
}
.shuffle-btn:hover {
  cursor: pointer;
  height: 60px;
  width: 220px;
  font-size: 40px;
}

.result-list {

  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  background-color: gray;
  padding: 20px 40px;
  margin-top: 20px;
}